# -*- mode: gitconfig -*-
#
[include]
	path = ~/.gitconfig_global

[user]
	email = tjy1965@gmail.com
	name = YAMASHITA Takao

[credential]
	helper = osxkeychain

[gui]
	encoding = utf-8

[github]
	user = ac1965
#	token = xxxxbf335cc0c9a8307563f4352cf654d55d759e

[pull]
	rebase = false
