# -*- mode: gitconfig -*-
#
[include]
	path = ~/.gitconfig_global

[user]
	email = tjy1965@gmail.com
	name = YAMASHITA Takao

[credential]
	helper = osxkeychain

[gui]
	encoding = utf-8

[github]
	user = ac1965
	oauth-token = xxxx
