# -*- mode: gitconfig -*-
#
[include]
	path = ~/.gitconfig_global

[user]
	email = <YOUR E-MAIL>
	name = <YOUR NAME>

[gui]
	encoding = utf-8

[github]
	user = <YOUR ID>
	token = <YOUR TOKEN>

[pull]
	rebase = false

[push]
	default = matching
