# -*- mode: gitconfig -*-
#
[include]
	path = ~/.gitconfig_global

[user]
	email = tjy1965@gmail.com
	name = YAMASHITA Takao

[gui]
	encoding = utf-8

[github]
	user = ac1965
	token = f49b97b6592c27d327fb62a9f12db589149bd4be

[pull]
	rebase = false

[push]
	default = matching
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[diff]
	submodule = log
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
